

ul {
    padding: 0;
    list-style-type: none;
}

.btn {
    background:#2a2a2a;
    font-weight: 700;
    border: none;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 100%;
    color: #ddd;
    text-shadow: 0 0 black;
}

.form-input{
    text-align: center;
}



.categoryListChild {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ddd;
}

.register-container {
    color: white;
    font-size: 100%;
    font-weight: 600;
}
.login-container {
    color: white;
    font-size: 100%;
    font-weight: 600;
}

.discuss-container{
    /*width: 100%;*/
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    /*margin-left: auto;*/
    margin-top: 7px;
    margin-bottom: 30px;
    border: 1px solid #b2b2b2;
}

.discuss-content-block{
    padding-left: 20px;
}

/*ALL LINKS*/

.main-discuss-container a:link {
    color: #5dc4ff;
    text-decoration: none;

}
.main-discuss-container a:visited {
    color: #5dc4ff;
    text-decoration: none;
}

.main-discuss-container a:hover {
    color: #1b85ff;
    text-decoration: none;
    transition-duration: .3s;

}
a:link {
    color: #5dc4ff;
    text-decoration: none;

}
a:visited {
    color: #5dc4ff;
    text-decoration: none;
}

a:hover {
    color: #1b85ff;
    text-decoration: none;
    transition-duration: .3s;

}

/*ALL LINKS*/
.link {
    color: #5dc4ff;
    text-decoration: none;
}

.link:hover {
    color: #1b85ff;
    text-decoration: none;
    transition-duration: .3s;

}


.main-discuss-container {
    
    color: white;
    font-size: 125%;
    font-weight: 600;
    margin-top: 25px;
    
}

.page-header{
    color: white;
    margin-top: 10px;
}

.warning{
    color: #ffd65f;
}

/*COMMENT LIST*/


.comment-list-element.op {
   margin-left:0px;
   margin-top: 10px;
    color: #ddd;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 15px;
    padding: 15px;
    border: none;
}
.comment-list-element {
   /*margin-left: 50px;*/
   /*margin-bottom: 30px;*/
   margin-bottom: 25px;
    color: #c0c0c0;
    background-color: rgba(50, 50, 50, 0.4);
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #5d5d5d;

}




.comment-list-element h1 {
    font-size: 100%;
    
}



.comment-list-element h2 {
    margin-top: -5px;
    font-size: 100%;
}

.comment-list-element h3 {
    margin-top: -5px;
    font-size: 75%;
}
.comment-list-element h4 {
    /*font-size: 125%;*/
    /*font-weight: 500;*/
    margin-top: 15px;
    margin-left:15px;
}

/* Forum styling */
.op-title {
    font-size: 22px;
    margin: 0 0 10px 0;
}
/*#top-reply-btn {
    position:relative;
    right: -54vw;
}*/

/*DASHBOARD LINKS*/

.dashboard-links-div {
    text-align: center;
}

.dashboard-links-div a {
    font-size: 125%;
    margin-left: 10px;
    margin-right: 10px; 
    font-weight: 600;
}


/*CATEGORIES LIST*/

.categoryTest {
    margin-top: 25px;
    color: #ddd;
}

.username{
    color: #BE9AF3;
}








