a:link {
    color: grey;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}

.register-container {
    color: white;
    font-size: 125%;
    font-weight: 600;
}
.login-container {
    color: white;
    font-size: 125%;
    font-weight: 600;
}

.discuss-container{
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
}

.main-discuss-container {
    
    color: white;
    font-size: 125%;
    font-weight: 600;
    margin-top: 25px;
    
}

.page-header{
    color: #e1d8ff;
    margin-top: 10px;
}

.warning{
    color: yellow;
}

/*COMMENT LIST*/

.comment-list-element{
    margin-top: 25px;
    
}

/*DASHBOARD LINKS*/

.dashboard-links-div {
    text-align: center;
    
}

.dashboard-links-div a {
    font-size: 125%;
    color: white;
    margin-left: 10px;
    margin-right: 10px; 
    font-weight: 600;
}


.dashboard-links-div a:active {
    text-decoration: none;
    color: #ffd863;
     transition-duration: 1s;
}
.dashboard-links-div a:visited:active {
    text-decoration: none;
    color: #ffd863;
     transition-duration: 1s;
}
.dashboard-links-div a:hover {
    text-decoration: none;
    color: #ffd863;
     transition-duration: 1s;
}
.dashboard-links-div a:visited:hover {
    text-decoration: none;
    color: #ffd863;
     transition-duration: 1s;
}

.dashboard-links-div a:visited {
    color: #ffffff;
    text-decoration: none;
}
.dashboard-links-div a:visited {
    color: #ffffff;
    text-decoration: none;
}

/*CATEGORIES LIST*/

.categories-list {
    background-color: black;
    opacity: 75%;
}








