div.home-container {
    height: 86vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    margin:auto;
    margin-top: 25px;
    text-align: center;
}

div.quote-container {
    color: white;
    padding-left:12%;
    padding-right: 12%;
    font-size: 700%;
    font-weight: 700;
    margin-top: 10%;
    width: 100%;
    line-height: 20px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.5);

}





