div.home-container {
    height: 100%;
    width: 100%;
    margin:auto;
    margin-top: 25px;
    text-align: center;
}

div.quote-container {
    color: white;
    font-size: 700%;
    font-weight: 700;
     position: relative;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 90%;
    line-height: 20px;
    letter-spacing: 1.7px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}
.quote-heading {
    font-size: 30px;
    margin-bottom: 2%;
}
.quoteOfTheDay {
    font-size: 26px;
}
.daily-quote {
    font-size: 20px;
    font-weight: normal;
}
.quote-philosopher-name {
    font-size: 22px;
    margin-top: 2%;
}
.quote-studied {
    font-size:18px;
    margin-top: 2%;
}
div.App {
    height: 100vh;
}
.tagline{
    color: white;
    margin-top: 4%
}


