/*GENERAL STYLING*/

body{
    background: black;
}

.logo{
    width: 80px;
    height: 80px;
}

.nav{
    background: black;
    color: white;
    padding: 5px;
    height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 175%;
  font-weight: 800;
  margin-top:10px;
}

/*LINK STYLING*/

a.link{
    color: white;
    text-decoration: none;
}
a.link:hover {
    color: #ffd863;
    text-decoration: none;
    transition-duration: 1s;
}

a.link:visited {
    color: #ffffff;
    text-decoration: none;
}

a.link:visited {
    text-decoration: none;
}

a.link:active:visited {
    text-decoration: none;
}

a.link:visited:hover {
    color: #ffd863;
    text-decoration: none;
    transition-duration: 1s;
}